!!! XML
%html{html_attrs}
  %head
    %title Search headings
    %link{:rel=>"stylesheet", :href=>"/stylesheets/style.css", :type=>"text/css", :media=>"screen", :charset=>"utf-8"}
  %body
    .nav
      %form{:action=>"/search/"}
        %ul.nav
          %li
            %a{:href=>"/"} Home
          %li
            %a{:href=>"/browse/"} Browse
          %li         
            %input{:type=>"text", :size=>20,:class=>"smallSearch", :name=>"query"}
            %input{:type=>"submit", :class=>"smallSearch", :value=>"Search"}  
    .searchLeft
      - heading = nil
      -@facets.each_pair do |key, facets|
        - if heading != key
          .facetSection
            %strong #{key}
            %ul.facets
              - [*facets].each do |label,count|
                - li_class = (key == :type) ? "list#{label.gsub(/[\s\/]/,"")}" : "facetLabel"
                %li{:class=>li_class}
                  %a{:href=>"/search/?#{generate_query_string({key=>label})}"} #{label}
                  (#{count})
    .searchResults         
      %h4 #{@total} hits matched your query.
      %dl.searchResults
        - @results.each do |term|
          %dt{:class=>"list#{term[:heading_type].gsub(/[\s\/]/,"")}"}
            %a{:href=>"/lccn/#{term[:lccn]}"}= term[:label]
          %dd{:class=>"list#{term[:heading_type].gsub(/[\s\/]/,"")}"}
            -if term[:alt_labels] && !term[:alt_labels].empty?
              Use for: #{[*term[:alt_labels]].join(", ")}
              
      - if pages = paginate(@total, @offset)
        .paginator
          - if @offset > 0
            %a{:href=>"/search/?#{generate_offset_query(@offset-25)}"} <<
          - pages.each do |page|
            - if page.is_a?(Range)
              - page.each do |p|
                %a{:href=>"/search/?#{generate_offset_query(p*25)}"} #{p+1}
            - elsif page.is_a?(String)
              #{"..."}
            - elsif page.is_a?(Fixnum)
              %a{:href=>"/search/?#{generate_offset_query(p*25)}"} #{p+1}
          - if @offset < (@offset - 25)
            %a{:href=>"/search/?#{generate_offset_query(@offset+25)}"} >>              